

.wrapper {
    margin: 0 auto;
    width: 1000px
}


.img-MoneyPic1 {
   width: 300px; 
   margin: 35px;
}

.img-MoneyPic2 {
    width: 300px;
    height: 270px;
    margin: 35px;
}

.img-7Products {
    height: 300px;
    margin: 20px;
}

.img-IMMetics {
    height: 300px;
    margin: 20px;
}

.img-ExtraTraffic {
    width: 200px;
    margin: 20px;
}

.img-TimeEbook {
 width: 225px;
 margin: 5px;
}

.img-NicheResearch {
    width: 225px;
    height: 230px;
    margin: 50px;
}

.img-MagickEye {
    width: 250px;
    height: 200px;
    margin: 50px;
}

.img-WarriorMarketerMindset {
    width: 240px;
    margin: 5px;
}

.img-CommonFears {
    width: 200px;
    margin: 50px;
}